table.detail-view .null
{
	color: pink;
}

table.detail-view
{
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	margin: 10px 0px;
	border: 1px solid #EEE;
	border-radius: 7px;
}

table.detail-view th, table.detail-view td
{
	font-size: 0.9em;
	border: 0px white solid;
	padding: 0.3em 0.6em;
	vertical-align: top;
}

table.detail-view th
{
	text-align: right;
	width: 160px;
}

table.detail-view tr.odd
{
	background: rgba(0,0,0,0.1);
}

table.detail-view tr.even
{
	background: rgba(0,0,0,0.05);
}

table.detail-view tr.odd th
{
}

table.detail-view tr.even th
{
}
