/* < CustomFiles > */

.customfiles {
	font-size: 1em;
	width: auto;
	height: auto;
	margin: 20px 0px;
	display: block;
	background-color: rgba(0,0,0,0.1);
}

	.customfiles .cf_panel {
		width: auto;
		height: 1.5em;
		background-color: rgba(0,0,0,0.2);
		padding: 0.5em 1em;
	}

		.customfiles .cf_panel .cf_path {

		}

	.customfiles .cf_botton {
		width: auto;
		height: 1.5em;
		background-color: rgba(0,0,0,0.2);
		padding: 0.5em 1em;
	}

		.customfiles .cf_panel .cf_info {

		}

	.customfiles .cf_content {
		width: auto;
		padding: 1em;
	}

		.cf_content .cf_i {
			width: 7em;
			height: 8em;
			float: left;
			text-align: center;
			overflow: hidden;
			padding: 0.5em;
			cursor: pointer;
		}

			.cf_content .cf_i .cf_thumb {
				display: block;
				height: 5em;
				margin-bottom: 0.5em;
			}

			.cf_content .cf_i i.fa {
				font-size: 5em;
			}

			.cf_content .cf_i .cf_name {
				font-size: 0.9em;
				white-space: pre-line;
			}

		.cf_content .cf_i:hover {
			background-color: rgba(0,0,0,0.2);
		}

		.cf_content .hover {
			background-color: rgba(0,0,0,0.3);
		}

		.cf_content .upload {
			opacity: 0.7;
		}



.cf_win  {
	font-size: 1em;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding-bottom: 50px;
	box-sizing: border-box;
}

	.cf_win .cf_panel {
		width: 100%;
		position: absolute;
		height: 1.5em;
		border-top: 1px solid black;
		bottom: 0px;
	}

	.cf_win .cf_content {
		width: 100%;
		height: 100%;
		overflow: auto;
	}
		

/* </ CustomFiles > */