.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}

.grid-view
{
	padding: 15px 0;
	font: 0.95em "Open Sans", "Calibri";
	overflow: auto;
}

.grid-view a, .grid-view a:visited, .grid-view a:link 
{
	color: #eee;
}

.grid-view a:hover 
{
	color: #f1c40f;
}

.grid-view table.items
{
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #EEE;
	border-radius: 7px;
}

.grid-view table.items thead tr:first-child th:first-child {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}
.grid-view table.items thead tr:first-child th:last-child {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

.grid-view table.items tbody tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}
.grid-view table.items tbody tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}

.grid-view table.items th, .grid-view table.items td
{

	border: 1px solid #EEE;
	padding: 0.3em;
	overflow: hidden;
	white-space: nowrap;
}

.grid-view table.items .wrap
{
	white-space: inherit;
}

.grid-view table.items .other
{
	font-size: 0.8em;
	text-align: center;
}

.grid-view table.items th
{
	font: normal 0.9em 'Open Sans',"Calibri";
	color: #EEE;
	text-align: center;
}

.grid-view table.items th a
{
	color: #EEE;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
	color: #FFF;
}

.grid-view table.items th a.asc
{
	background:url(../images/up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc
{
	background:url(../images/down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items tr.even
{
	background: rgba(0,0,0,0.05);
}

.grid-view table.items tr.odd
{
	background: rgba(0,0,0,0.1);
}

.grid-view table.items tr.selected
{
	background: rgba(0,0,0,0.4);
}

.grid-view table.items tr:hover.selected
{
	background: rgba(0,0,0,0.3);
}

.grid-view table.items tbody tr:hover
{
	background: rgba(0,0,0,0.3);
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view i
{
	font-size: 1.2em;
	margin-left: 3px;
}

.grid-view .on i
{
	color: #f1c40f;
}

.grid-view a.on:hover i
{
	color: #eee;
}

.grid-view .button-column
{
	text-align: center;
	width: 10px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
}

.grid-view .buttonsHeader *
{
	display: none;
}