.section {
	margin: 20px 0px;
}

.section .tabs {
	height: 40px;
	padding: 0px;
	margin: 0px;
	background-color: rgba(0,0,0,0.5);
}

.section .tabs li {
	display: block;
	float: left;
	cursor: pointer;
	/*border-left: 1px solid rgba(255,255,255,0.5);*/
	/*box-shadow: inset 15px 0px 10px -10px rgba(255,255,255,1);*/
	
	margin: 0px;
	padding: 8px 20px;
	vertical-align: center;
}

.section .tabs li a {
	display: inline-block;
	
	/*padding-left: 5px;*/
	
}

.section .tabs li img {
/*	padding-top: 6px;*/
	padding-right: 5px;
	float: left;
}

.section .tabs li:first-child {
	border-left: 0px;
}

.section .tabs li:hover {
	/*background-color: rgba(255,255,255,0.2);*/
	box-shadow: 0px 15px 10px -10px rgba(255,255,255,0.5);
	/*box-shadow: inset 0px 15px 10px -10px rgba(255,255,255,1);*/
}

.section .tabs li.current {
	background-color: rgba(0,0,0,0.1);
	box-shadow: 0px 15px 10px -5px rgba(255,255,255,0.5);
}


.section .box {
	border-top: 0px solid rgba(0,0,0,0.5);
	border-bottom: 0px;
	box-shadow: inset 0px 15px 10px -10px rgba(0,0,0,0.5);
	background-color: rgba(0,0,0,0.1);
	padding: 20px;
}



.section .box {  
 /* display: none;  по умолчанию прячем все блоки */  
}  
.section .active {  
  display: block; /* по умолчанию показываем нужный блок */  
}