/* UI sortable CustomMenu */
.ui-sortable
{

}

	.ui-sortable > *
	{

	}

		.ui-sortable > * > .row
		{
			display: inline-block;
		}

		div.form .menu_sortable div.item_cell
		{
			display: block;
			margin-bottom: -20px;
			margin-top: 0px;
			z-index: 1;
		}

			div.form .menu_sortable div.item_cell > div
			{
				display: inline-block;
				white-space: nowrap;
				margin: 0px 10px;
				width: 300px;
			}

			div.form .menu_sortable div.element_cell > div
			{
				margin: 10px 10px;
				width: auto;
			}

			div.form .menu_sortable div.item_cell > div.menu_checkbox
			{
				width: 50px;
			}

			div.form .menu_sortable div.item_cell > div.menu_buttons > a
			{
				cursor: pointer;
				color: #DDD;
			}

			div.form .menu_sortable div.item_cell > div.menu_buttons > a.notempty
			{
				color: #C00;
			}

			div.form .menu_sortable div.item_cell > div.menu_buttons > a:hover
			{
				color: #f1c40f;
			}

		div.form .menu_sortable ul.item_container
		{
			padding-top:20px;
			/*margin-bottom: 5px;*/
			width: 100%;
			border: 0px dashed;
			top:-5px;
			margin-left: 20px;
			z-index: 0
		}