﻿<!-- Arrow Navigator Skin Begin -->
        <style>
            /* jssor slider arrow navigator skin 13 css */
            /*
            .jssora13l              (normal)
            .jssora13r              (normal)
            .jssora13l:hover        (normal mouseover)
            .jssora13r:hover        (normal mouseover)
            .jssora13ldn            (mousedown)
            .jssora13rdn            (mousedown)
            */
            .jssora13l, .jssora13r, .jssora13ldn, .jssora13rdn
            {
            	position: absolute;
            	cursor: pointer;
            	display: block;
                background: url($image$) no-repeat;
                overflow:hidden;
            }
            .jssora13l { background-position: -10px -35px; }
            .jssora13r { background-position: -70px -35px; }
            .jssora13l:hover { background-position: -130px -35px; }
            .jssora13r:hover { background-position: -190px -35px; }
            .jssora13ldn { background-position: -250px -35px; }
            .jssora13rdn { background-position: -310px -35px; }
        </style>
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora13l" style="width: 40px; height: 50px; top: 123px; left: 0px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora13r" style="width: 40px; height: 50px; top: 123px; right: 0px">
        </span>
        <!-- Arrow Navigator Skin End -->