<!-- Arrow Navigator Skin Begin -->
        <style>
            /* jssor slider arrow navigator skin 06 css */
            /*
            .jssora06l              (normal)
            .jssora06r              (normal)
            .jssora06l:hover        (normal mouseover)
            .jssora06r:hover        (normal mouseover)
            .jssora06ldn            (mousedown)
            .jssora06rdn            (mousedown)
            */
            .jssora06l, .jssora06r, .jssora06ldn, .jssora06rdn
            {
            	position: absolute;
            	cursor: pointer;
            	display: block;
                background: url($image$) no-repeat;
                overflow:hidden;
            }
            .jssora06l { background-position: -8px -38px; }
            .jssora06r { background-position: -68px -38px; }
            .jssora06l:hover { background-position: -128px -38px; }
            .jssora06r:hover { background-position: -188px -38px; }
            .jssora06ldn { background-position: -248px -38px; }
            .jssora06rdn { background-position: -308px -38px; }
        </style>
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora06l" style="width: 45px; height: 45px; top: 123px; left: 8px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora06r" style="width: 45px; height: 45px; top: 123px; right: 8px">
        </span>
        <!-- Arrow Navigator Skin End -->