﻿<!-- Arrow Navigator Skin Begin -->
        <style>
            /* jssor slider arrow navigator skin 19 css */
            /*
            .jssora19l              (normal)
            .jssora19r              (normal)
            .jssora19l:hover        (normal mouseover)
            .jssora19r:hover        (normal mouseover)
            .jssora19ldn            (mousedown)
            .jssora19rdn            (mousedown)
            */
            .jssora19l, .jssora19r, .jssora19ldn, .jssora19rdn
            {
            	position: absolute;
            	cursor: pointer;
            	display: block;
                background: url($image$) no-repeat;
                overflow:hidden;
            }
            .jssora19l { background-position: -5px -35px; }
            .jssora19r { background-position: -65px -35px; }
            .jssora19l:hover { background-position: -125px -35px; }
            .jssora19r:hover { background-position: -185px -35px; }
            .jssora19ldn { background-position: -245px -35px; }
            .jssora19rdn { background-position: -305px -35px; }
        </style>
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora19l" style="width: 50px; height: 50px; top: 123px; left: 8px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora19r" style="width: 50px; height: 50px; top: 123px; right: 8px">
        </span>
        <!-- Arrow Navigator Skin End -->