﻿<!-- Arrow Navigator Skin Begin -->
        <style>
            /* jssor slider arrow navigator skin 11 css */
            /*
            .jssora11l              (normal)
            .jssora11r              (normal)
            .jssora11l:hover        (normal mouseover)
            .jssora11r:hover        (normal mouseover)
            .jssora11ldn            (mousedown)
            .jssora11rdn            (mousedown)
            */
            .jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn
            {
            	position: absolute;
            	cursor: pointer;
            	display: block;
                background: url($image$) no-repeat;
                overflow:hidden;
            }
            .jssora11l { background-position: -11px -41px; }
            .jssora11r { background-position: -71px -41px; }
            .jssora11l:hover { background-position: -131px -41px; }
            .jssora11r:hover { background-position: -191px -41px; }
            .jssora11ldn { background-position: -251px -41px; }
            .jssora11rdn { background-position: -311px -41px; }
        </style>
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora11l" style="width: 37px; height: 37px; top: 123px; left: 8px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora11r" style="width: 37px; height: 37px; top: 123px; right: 8px">
        </span>
        <!-- Arrow Navigator Skin End -->