﻿<!-- Arrow Navigator Skin Begin -->
        <style>
            /* jssor slider arrow navigator skin 01 css */
            /*
            .jssora01l              (normal)
            .jssora01r              (normal)
            .jssora01l:hover        (normal mouseover)
            .jssora01r:hover        (normal mouseover)
            .jssora01ldn            (mousedown)
            .jssora01rdn            (mousedown)
            */
            .jssora01l, .jssora01r, .jssora01ldn, .jssora01rdn
            {
            	position: absolute;
            	cursor: pointer;
            	display: block;
                background: url($image$) no-repeat;
                overflow:hidden;
            }
            .jssora01l { background-position: -8px -38px; }
            .jssora01r { background-position: -68px -38px; }
            .jssora01l:hover { background-position: -128px -38px; }
            .jssora01r:hover { background-position: -188px -38px; }
            .jssora01ldn { background-position: -8px -38px; }
            .jssora01rdn { background-position: -68px -38px; }
        </style>
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora01l" style="width: 45px; height: 45px; top: 123px; left: 8px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora01r" style="width: 45px; height: 45px; top: 123px; right: 8px">
        </span>
        <!-- Arrow Navigator Skin End -->