<!-- Arrow Navigator Skin Begin -->
        <style>
            /* jssor slider arrow navigator skin 09 css */
            /*
            .jssora09l              (normal)
            .jssora09r              (normal)
            .jssora09l:hover        (normal mouseover)
            .jssora09r:hover        (normal mouseover)
            .jssora09ldn            (mousedown)
            .jssora09rdn            (mousedown)
            */
            .jssora09l, .jssora09r, .jssora09ldn, .jssora09rdn
            {
            	position: absolute;
            	cursor: pointer;
            	display: block;
                background: url($image$) no-repeat;
                overflow:hidden;
                opacity: .4; filter:alpha(opacity=40);
            }
            .jssora09l { background-position: -5px -35px; }
            .jssora09r { background-position: -65px -35px; }
            .jssora09l:hover { background-position: -5px -35px; opacity: .8; filter:alpha(opacity=80); }
            .jssora09r:hover { background-position: -65px -35px; opacity: .8; filter:alpha(opacity=80); }
            .jssora09ldn { background-position: -5px -35px; opacity: .3; filter:alpha(opacity=30); }
            .jssora09rdn { background-position: -65px -35px; opacity: .3; filter:alpha(opacity=30); }
        </style>
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora09l" style="width: 50px; height: 50px; top: 123px; left: 8px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora09r" style="width: 50px; height: 50px; top: 123px; right: 8px">
        </span>
        <!-- Arrow Navigator Skin End -->