<!-- Bullet Navigator Skin Begin -->
        <style>
            /* jssor slider bullet navigator skin 20 css */
            /*
            .jssorb20 div           (normal)
            .jssorb20 div:hover     (normal mouseover)
            .jssorb20 .av           (active)
            .jssorb20 .av:hover     (active mouseover)
            .jssorb20 .dn           (mousedown)
            */
            .jssorb20 div, .jssorb20 div:hover, .jssorb20 .av
            {
                background: url($image$) no-repeat;
                overflow:hidden;
                cursor: pointer;
            }
            .jssorb20 div { background-position: -5px -5px; }
            .jssorb20 div:hover, .jssorb20 .av:hover { background-position: -35px -5px; }
            .jssorb20 .av { background-position: -65px -5px; }
            .jssorb20 .dn, .jssorb20 .dn:hover { background-position: -95px -5px; }
        </style>
        <!-- bullet navigator container -->
        <div u="navigator" class="jssorb20" style="position: absolute; bottom: 16px; left: 6px;">
            <!-- bullet navigator item prototype -->
            <div u="prototype" style="POSITION: absolute; WIDTH: 19px; HEIGHT: 19px; text-align:center; line-height:19px; color:White; font-size:12px;"><NumberTemplate></NumberTemplate></div>
        </div>
        <!-- Bullet Navigator Skin End -->