<!-- Bullet Navigator Skin Begin -->
        <style>
            /* jssor slider bullet navigator skin 11 css */
            /*
            .jssorb11 div           (normal)
            .jssorb11 div:hover     (normal mouseover)
            .jssorb11 .av           (active)
            .jssorb11 .av:hover     (active mouseover)
            .jssorb11 .dn           (mousedown)
            */
            .jssorb11 div, .jssorb11 div:hover, .jssorb11 .av
            {
                background: url($image$) no-repeat;
                overflow:hidden;
                cursor: pointer;
            }
            .jssorb11 div { background-position: -10px -10px; }
            .jssorb11 div:hover, .jssorb11 .av:hover { background-position: -40px -10px; }
            .jssorb11 .av { background-position: -70px -10px; }
            .jssorb11 .dn, .jssorb11 .dn:hover { background-position: -100px -10px; }
        </style>
        <!-- bullet navigator container -->
        <div u="navigator" class="jssorb11" style="position: absolute; bottom: 16px; right: 6px;">
            <!-- bullet navigator item prototype -->
            <div u="prototype" style="POSITION: absolute; WIDTH: 11px; HEIGHT: 11px;"></div>
        </div>
        <!-- Bullet Navigator Skin End -->