<!-- Bullet Navigator Skin Begin -->
        <!-- jssor slider bullet navigator skin 06 -->
        <style>
            /*
            .jssorb06 div           (normal)
            .jssorb06 div:hover     (normal mouseover)
            .jssorb06 .av           (active)
            .jssorb06 .av:hover     (active mouseover)
            .jssorb06 .dn           (mousedown)
            */
            .jssorb06 div, .jssorb06 div:hover, .jssorb06 .av
            {
                background: url($image$) no-repeat;
                overflow:hidden;
                cursor: pointer;
            }
            .jssorb06 div { background-position: -6px -6px; }
            .jssorb06 div:hover, .jssorb06 .av:hover { background-position: -36px -6px; }
            .jssorb06 .av { background-position: -66px -6px; }
            .jssorb06 .dn, .jssorb06 .dn:hover { background-position: -96px -6px; }
        </style>
        <!-- bullet navigator container -->
        <div u="navigator" class="jssorb06" style="position: absolute; bottom: 16px; left: 6px;">
            <!-- bullet navigator item prototype -->
            <div u="prototype" style="POSITION: absolute; WIDTH: 18px; HEIGHT: 18px;"></div>
        </div>
        <!-- Bullet Navigator Skin End -->