﻿<!-- ThumbnailNavigator Skin Begin -->
        <div u="thumbnavigator" class="jssort08" style="position: absolute; width: 600px; height: 100px; left: 180px; bottom: 0px;">
            <!-- Thumbnail Item Skin Begin -->
            <style>
                /* jssor slider thumbnail navigator skin 08 css */
                /*
                .jssort08 .p            (normal)
                .jssort08 .p:hover      (normal mouseover)
                .jssort08 .pav          (active)
                .jssort08 .pav:hover    (active mouseover)
                .jssort08 .pdn          (mousedown)
                */
                .jssort08 .i
                {
                    position:absolute;
                    top: 0px;
                    left: 0px;
                    width: 50px;
                    height: 50px;
                	filter: alpha(opacity=80);
                	opacity: .8;
                }
                .jssort08 .p:hover .i, .jssort08 .pav:hover .i
                {
                	filter: alpha(opacity=100);
                	opacity: 1;
                }
                .jssort08 .o
                {
                    position: absolute;
                    top:0px;
                    left:0px;
                    width:48px;
                    height:48px;
                    
                    border: 1px solid #000;
                    
                    transition: border-color .6s;
                    -moz-transition: border-color .6s;
                    -webkit-transition: border-color .6s;
                    -o-transition: border-color .6s;
                }
                * html .jssort08 .o
                {
                	/* ie quirks mode adjust */
                	width /**/: 50px;
                	height /**/: 50px;
                }
                .jssort08 .pav .o, .jssort08 .p:hover .o
                {
                	border-color: #fff;
                }
                .jssort08 .pav:hover .o
                {
                	border-color: #0099FF;
                }
                .jssort08 .p:hover .o
                {
                	transition: none;
                    -moz-transition: none;
                    -webkit-transition: none;
                    -o-transition: none;
                }
            </style>
            <div u="slides" style="cursor: move;">
                <div u="prototype" class="p" style="position: absolute; width: 50px; height: 50px; top: 0; left: 0;">
                    <thumbnailtemplate class="i" style="position:absolute;"></thumbnailtemplate>
                    <div class="o">
                    </div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- ThumbnailNavigator Skin End -->