﻿<!-- ThumbnailNavigator Skin Begin -->
        <div u="thumbnavigator" class="jssort11" style="cursor: default; position: absolute; width: 600px; height: 60px; left:0px; bottom: 0px;">
            <div style=" background-color: #000; filter:alpha(opacity=30); opacity:.3; width: 100%; height:100%;"></div>

            <!-- Thumbnail Item Skin Begin -->
            <style>

                /* jssor slider thumbnail Navigator Skin 11 css */
                /*
                .jssort11 .p            (normal)
                .jssort11 .p:hover      (normal mouseover)
                .jssort11 .pav          (active)
                .jssort11 .pav:hover    (active mouseover)
                .jssort11 .pdn          (mousedown)
                */
                .jssort11 .p .t {
                    FILTER: alpha(opacity=45);
                    opacity: .45;
                    transition: opacity .6s;
                    -moz-transition: opacity .6s;
                    -webkit-transition: opacity .6s;
                    -o-transition: opacity .6s;
                }

                .jssort11 .pav .t, .jssort11 .pav:hover .t, .jssort11 .p:hover .t {
                    FILTER: alpha(opacity=100);
                    opacity: 1;
                    transition: none;
                    -moz-transition: none;
                    -webkit-transition: none;
                    -o-transition: none;
                }
            </style>
            <div u="slides" style="cursor: move;">
                <div u="prototype" class=p style="POSITION: absolute; WIDTH: 60px; HEIGHT: 30px; TOP: 0; LEFT: 0;">
                    <thumbnailtemplate class=t style=" WIDTH: 60px; HEIGHT: 30px; border: none;position:absolute; TOP: 0; LEFT: 0;"></thumbnailtemplate>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- ThumbnailNavigator Skin End -->