﻿<!-- ThumbnailNavigator Skin Begin -->
        <div u="thumbnavigator" class="jssort07" style="position: absolute; width: 800px; height: 100px; left:0px; bottom: 0px;">
            <!-- Thumbnail Item Skin Begin -->
            <style>
                /* jssor slider thumbnail navigator skin 07 css */
                /*
                .jssort07 .p            (normal)
                .jssort07 .p:hover      (normal mouseover)
                .jssort07 .pav          (active)
                .jssort07 .pav:hover    (active mouseover)
                .jssort07 .pdn          (mousedown)
                */
                .jssort07 .i
                {
                    position:absolute;
                    top: 0px;
                    left: 0px;
                    width: 72px;
                    height: 72px;
                	filter: alpha(opacity=80);
                	opacity: .8;
                }
                .jssort07 .p:hover .i, .jssort07 .pav .i
                {
                	filter: alpha(opacity=100);
                	opacity: 1;
                }
                .jssort07 .o
                {
                    position: absolute;
                    top:0px;
                    left:0px;
                    width:70px;
                    height:70px;
                    
                    border: 1px solid #000;
                    
                    transition: border-color .6s;
                    -moz-transition: border-color .6s;
                    -webkit-transition: border-color .6s;
                    -o-transition: border-color .6s;
                }
                * html .jssort07 .o
                {
                	/* ie quirks mode adjust */
                	width /**/: 72px;
                	height /**/: 72px;
                }
                .jssort07 .pav .o, .jssort07 .p:hover .o
                {
                	border-color: #fff;
                }
                .jssort07 .pav:hover .o
                {
                	border-color: #0099FF;
                }
                .jssort07 .p:hover .o
                {
                	transition: none;
                    -moz-transition: none;
                    -webkit-transition: none;
                    -o-transition: none;
                }
            </style>
            <div u="slides" style="cursor: move;">
                <div u="prototype" class="p" style="POSITION: absolute; WIDTH: 72px; HEIGHT: 72px; TOP: 0; LEFT: 0;">
                    <ThumbnailTemplate class="i" style="position:absolute;"></ThumbnailTemplate>
                    <div class="o">
                    </div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- ThumbnailNavigator Skin End -->