﻿<!-- ThumbnailNavigator Skin Begin -->
        <div u="thumbnavigator" class="jssort12" style="cursor: default; position: absolute; width: 600px; height: 100px; left:0px; bottom: 0px;">
            
            <!-- Thumbnail Item Skin Begin -->
            <style>

                /* jssor slider thumbnail Navigator Skin 12 css */
                /*
                .jssort12 .p            (normal)
                .jssort12 .p:hover      (normal mouseover)
                .jssort12 .pav          (active)
                .jssort12 .pav:hover    (active mouseover)
                .jssort12 .pdn          (mousedown)
                */
                .jssort12 .p img {
                    FILTER: alpha(opacity=55);
                    opacity: .55;
                    transition: opacity .6s;
                    -moz-transition: opacity .6s;
                    -webkit-transition: opacity .6s;
                    -o-transition: opacity .6s;
                }

                .jssort12 .pav img, .jssort12 .pav:hover img, .jssort12 .p:hover img {
                    FILTER: alpha(opacity=100);
                    opacity: 1;
                    transition: none;
                    -moz-transition: none;
                    -webkit-transition: none;
                    -o-transition: none;
                }

                .jssort12 .pav:hover img, .jssort12 .p:hover img {
                    FILTER: alpha(opacity=70);
                    opacity: .7;
                }
                
                .jssort12 .title, .jssort12 .title_back {
                    position: absolute;
                    top: 70px;
                    left: 0px;
                    width: 200px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    color: #000;
                    font-size: 20px;
                }

                .jssort12 .title_back {
                    background-color: #fff;
                    filter: alpha(opacity=50);
                    opacity: .5;
                }

                .jssort12 .pav:hover .title_back, .jssort12 .p:hover .title_back {
                    filter: alpha(opacity=40);
                    opacity: .4;
                }
                
                .jssort12 .pav .title_back {
                    background-color: #000;
                    filter: alpha(opacity=50);
                    opacity: .5;
                }
                
                .jssort12 .pav .title {
                    color: #fff;
                }
            </style>
            <div u="slides" style="cursor: move;">
                <div u="prototype" class=p style="POSITION: absolute; WIDTH: 200px; HEIGHT: 100px; TOP: 0; LEFT: 0;">
                    <thumbnailtemplate style="WIDTH: 200px; HEIGHT: 100px; border: none; position: absolute; TOP: 0; LEFT: 0; "></thumbnailtemplate>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- ThumbnailNavigator Skin End -->