@media all and (max-width: 1050px) {
	header {padding: 0 2%;}
	.nav_box {margin-left: 4%;}
	.info_top li {margin-right: 5%;}
	.navi a {margin: 5px 20px 0 0}
		.navi li:last-child {margin: 0 -20px 0 0;}
	.container {margin-top: 60px; padding: 0 2%;}
	.site_box {width: 32%;}
		.purpure {margin: 0 2%;}
	.main {font-size: 1.8em;}
	.reason {font-size: 2em;}
		li.number:before {border-top: 21px solid transparent; border-bottom: 22px solid transparent;}
	.top {font-size: 1.8em;}
	.author, .post {font-size: 1.3em;}

}