@media all and (max-width: 850px) {
	header {padding: 0;}
		.logo_box {width: 28%;} 
		.nav_box {width: 71%;}
	.container {padding: 0 1% 0 2%;}	
	.site_box {width: 30%;}
		.purpure {width: 34%; margin: 0 3%;}
		.price {font-size: 1.4em;}
	.reason {font-size: 1.6em; }
		.reason li {padding: 0 15px;}
		.advantage li {width: 44%; padding: 2px 0 2px 6%;}
	.inputs {width: 50%; margin: 10px 0;}
	.info_bot {width: 35%; margin-left: 15%;}
	.info_bot li {width: 90%;}
	.feed_bot input[type="submit"] {display: block; margin: 10px auto;}
}