@media all and (max-width: 1330px) {
	h1 {font-size: 1.8em;}
	header {padding: 0 3%;}
	.info_top li {margin-right: 7%;}
	.container {margin-top: 60px; padding: 0 3%;}
	.site_box {width: 30%;}
		.purpure {margin: 0 5%;}
		.main {font-size: 1.8em;}
	.reason {margin: 50px auto 20px; font-size: 2.2em;}
		li.number:before {border-top: 24px solid transparent; border-bottom: 23px solid transparent;}
	.advantage {width: 90%;}
		.advantage li {font-size: 1.3em;}
	.start {margin-top: 20px; padding: 10px 3%;}
	.cbp-so-side {width: 90%;}
		.cbp-so-section h1 {font-size: 2.4em;}
		.cbp-so-section li {font-size: 1.3em;}
	.respect {width: 70%;}
	.start_bot {padding: 75px 3%;}
	.navi_bot {padding: 0 3% 10px;}
		.info_box {width: 94%; padding: 25px 3%;}
			.info_bot li {width: 40%;}

	.tabs {width: 90%;}
	.choose {width: 80%;}
		.menu_tabs .tab {padding-left: 5px;}
}