@media all and (max-width: 950px) {
	h1 {font-size: 1.6em;}
	header {padding: 0 0 0 2%;}
	.logo_box {width: 31%;}
	.nav_box {margin-left: 1%; width: 68%;}
	.info_top li {margin-right: 2%; font-size: 1.05em;}
		.navi a {padding: 0 15px;}
		.navi li:last-child {margin: 0 -25px 0 0;}
	.container {margin-top: 50px;}
		.main {font-size: 1.5em;}
		.price {font-size: 1.6em;}
	.reason {margin: 45px auto 20px; font-size: 1.8em; }
		.reason li {padding: 0 20px;}
		li.number:before {display: none;}
	.advantage {width: 96%;}
		.advantage li {font-size: 1.1em; padding: 2px 0 2px 5%;}
	.start {padding: 10px 2%}
		.inputs {width: 33.3%}
		.submit {width: 100%; margin: 10px 0;}
	.cbp-so-side {width: 96%;}
		.cbp-so-section h1 {font-size: 2.2em;}
		.cbp-so-section li {font-size: 1.2em;}
	.top {font-size: 1.6em;}
	.name {font-size: 1.3em;}
	.navi_bot {padding: 0 2% 10px;}
	.info_box {width: 96%; padding: 25px 2%;}
	.info_bot {width: 52%;}
	.feed_bot {width: 48%;}
		.info_bot li:nth-child(2), .info_bot li:first-child {font-size: 1.3em;}
}