* {padding: 0; margin: 0; list-style: none; outline: none; text-decoration: none; border: none;}
a, a:visited, a:link {color: #464646;}
a:hover {color: #464646; text-decoration: underline;}
div.clear {clear: both;}
header, section, nav, footer, article, img, form {display: block}
h1, h2, h3 {font-weight: 400;}

html, body {
	height: 100%;
	min-width: 735px;
	font-size: 16px;
	font-size: 1em;
	font-family: "Open Sans", "Arial", sans-serif;
	color: #464646;
	position: relative;
	background: url(../images/body_bg.png) repeat; z-index: -1;}

h1, h2 {
	font-size: 2em;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	color: #eee;}

h2 {font-size: 1.8em;}

p {
	margin: 10px 0;
	line-height: 2em;}

.success, .error, .alert {
	color: #eee;
	/*padding: 8px 15px;*/
	background: #3498db;}
					
.error {background: #c0392b;}

.alert {color: #d35400;}

.content {position: relative;}
.content:after {content: ""; display: block; clear: both;}

header {
	position: relative;
	padding: 0 5%;}

header:after {content: ""; display: block; clear: both;}

.band {
	position: absolute; top: 56px; left: 0; z-index: -1;
	width: 100%;
	height: 15px;
	background: #464646;}

.logo_box {
	width: 28%; height: 100px;
	margin-top: 10px;
	position: relative;
	background: url(../images/logo.png) no-repeat center 2px #34495e;
	border-radius: 3px;
	box-shadow: #464646 1px 1px 1px;
	-moz-box-shadow: #464646 1px 1px 1px;
	-webkit-box-shadow: #464646 1px 1px 1px;
	-o-box-shadow: #464646 1px 1px 1px;
	float: left;}

	.logo_box h3 {
		color: #eee;
		font-size: 3.3em;
		font-family: "Impact";
		letter-spacing: 1px;
		text-align: center;}

	.logo_box p {
		position: absolute; bottom: 0px; left: 0;
		width: 100%;
		color: #eee;
		font-weight: 300;
		font-style: italic;
		text-align: center;
		line-height: 1em;}

.nav_box {
	/*outline: 1px solid red;*/
	width: 65%;
	float: left;
	margin-left: 5%;}

	.nav_box li {float: left;}

.info_top {
	float: left;
	width: 100%;}

	.info_top li {
		/*outline: 1px solid red;*/
		font-size: 1.1em;
		line-height: 35px;
		padding-left: 40px;
		margin-right: 10%;
		height: 35px;}

	.info_top li:first-child, .info_bot li:first-child {background: url(../images/info.png) no-repeat 0 3px;}
	.info_top li:nth-child(2) {background: url(../images/info.png) no-repeat 0 -45px;}
	.info_top li:last-child, .info_bot li:nth-child(3) {background: url(../images/info.png) no-repeat -5px -89px; margin-right: 0;}
	.info_bot li:nth-child(2) {background: url(../images/info.png) no-repeat -5px -127px; font-size: 1.5em;}
	.info_bot li:first-child {font-size: 1.5em;}
	.info_bot li:last-child {background: url(../images/info.png) no-repeat -5px -182px;}

.navi {
	float: left;
	width: 100%;}

.navi a {
	display: block;
	padding: 0 25px; margin: 5px 30px 0 0;
	height: 45px;
	line-height: 46px;
	background: #34495e;
	color: #eee;
	text-transform: uppercase;
	border-radius: 3px;
	box-shadow: #464646 1px 1px 1px;
	-moz-box-shadow: #464646 1px 1px 1px;
	-webkit-box-shadow: #464646 1px 1px 1px;
	-o-box-shadow: #464646 1px 1px 1px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;}

	.navi a:hover {
		text-decoration: none;
		background: #1abc9c;}

	.navi .active {
		color: #fff;
		background: #1abc9c;}

	.navi li:last-child {margin: 0 -30px 0 0;}

										/*див с 3 блоками*/

.container {position: relative; margin-top: 75px; padding: 0 5%;}

	.container:after {content: ""; display: block; clear: both;}

.site_box {
	width: 28%; 
	float: left;
	position: relative;
	box-shadow: #464646 1px 1px 1px;
	-moz-box-shadow: #464646 1px 1px 1px;
	-webkit-box-shadow: #464646 1px 1px 1px;
	-o-box-shadow: #464646 1px 1px 1px;
}

.wrap {
	overflow: hidden;
	position: relative;
}	

	.site_box, .for, .round, .main, .price, .wrap, .btn, .preview > a {
		transition: all .3s ease;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
	}

.for {
	position: absolute; top: -20px; left: -15px; z-index: 10;
	background: #464646;
	padding: 7px 30px;
	color: #b7b7b7;
	}
	.for:after {
		content: "";
		display: block;
		position: absolute; bottom: -15px; left: 0;
		border-top: 15px solid #222; 
    	border-left: 15px solid transparent;
	}
.round {
	margin: 20px auto 0;
	width: 140px; height: 140px;
	background: url(../images/cart.png) no-repeat center center;
	background-size: cover;
}	

.main {
	text-align: center;
	text-transform: uppercase;
	color: #eee;
	margin: 5px 0;
	font-size: 2em;
}

.price {
	position: absolute; top: -100px; left: 0;
	width: 100%; height: 50%;
	opacity: 0;
	background: #2980b9;
	color: #fff;
	font-size: 2em;
}

	.price > p {position: absolute; bottom: 0; left: 0; width: 100%; text-align: center;}

a.btn {
	position: absolute; bottom: -100px; left: 50%;
	margin-left: -75px;
	width: 150px;
	padding: 3px 7px; 
	background-color: #1abc9c;
	opacity: 0;
	color: #eee;
	text-align: center;
	font-size: 1.2em;
	border-radius: 3px;
	box-shadow: 0px 1px 0px #ecf0f1 inset, 1px 1px 1px #464646;
	-moz-box-shadow: 0px 1px 0px #ecf0f1 inset, 1px 1px 1px #464646;
	-webkit-box-shadow: 0px 1px 0px #ecf0f1 inset, 1px 1px 1px #464646;
	-o-box-shadow: 0px 1px 0px #ecf0f1 inset, 1px 1px 1px #464646;
}
	a.btn:hover {background-color: #16a085; text-decoration: none; color: #fff;}

.azure {background: #3498db;}

.purpure {
	background: #8781bd;
	margin: 0 8%;
}
	.purpure .round {
		background: url(../images/case.png) no-repeat center center;
		background-size: cover;
	}
	.purpure .price {background: #6c6797;}

.orange {background: #f39c12;}

	.orange .round {
		background: url(../images/lamp.png) no-repeat center center;
		background-size: cover;
	}

	.orange .price {background: #e67e22;}

	.site_box:hover .for {color: #fff;}

	.site_box:hover .round {opacity: 0;}

	.site_box:hover .main {color: #fff;}

	.site_box:hover .price {
		opacity: 1;
		top: 0;
		}

	.site_box:hover a.btn {
		opacity: 1;
		bottom: 25%;
	}
										/*закончился див в сайтами*/

										/*10 преимуществ*/
.reason {
	margin: 65px auto 25px;
	font-size: 2.2em;
	color: #eee;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
}
	.reason li {
		display: inline-block;
		background: #2c3e50;
		padding: 0 25px;}

	li.number {
		display: inline-block;
		position: relative;
		background: #34495e;
		color: #3f88c4;
		font-weight: 700;
	}
		li.number:before {
			content: "";
			display: block;
			position: absolute; top: 0; left: -45px; 
			border-top: 24px solid transparent;
    		border-right: 45px solid #34495e;
    		border-bottom: 23px solid transparent;
		}

.advantage {
	/*outline: 1px solid red;*/
	position: relative;
	width: 80%;
	margin: auto;}

	.advantage:after {
		content: "";
		display: block;
		clear: both;}

	.advantage li {
		/*outline: 1px solid green;*/
		float: left;
		width: 45%;
		padding-left: 5%; margin: 10px 0; 
		background: url(../images/list_item.png) no-repeat 0px 0px;
		font-size: 1.4em;
		color: #2980b9;
	}

										/*Заказать сайт*/
.start {
	margin-top: 25px;
	background: #34495e;
	position: relative;
	color: #eee;
	padding: 15px 5%;}

	.start:before {
		content: "";
		position: absolute; bottom: -35px; left: 50%;
		margin-left: -35px;
		border-left: 35px solid transparent;
    	border-right: 35px solid transparent;
    	border-top: 35px solid #34495e;}

    .start p {text-align: center;}
	input[type="text"] {
		display: block; margin: auto;
		padding: 8px 0 8px 35px;
		font-size: 1em;
		font-family: "Open Sans", "Arial", sans-serif;
		color: #464646;
		background-color: #ddd;}

		input[type="text"]:hover {background-color: #eee;}

		input[type="text"]:focus {}

	input[type="submit"] {
		display: block; margin: auto;
		padding: 8px 25px;
		font-size: 1em;
		font-family: "Open Sans", "Arial", sans-serif;
		cursor: pointer;
		background: #1abc9c;
		color: #eee;
		border-radius: 3px;
		transition: all .3s ease;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		box-shadow: 0px 1px 0px #ecf0f1 inset, 1px 1px 1px #464646;
		-moz-box-shadow: 0px 1px 0px #ecf0f1 inset, 1px 1px 1px #464646;
		-webkit-box-shadow: 0px 1px 0px #ecf0f1 inset, 1px 1px 1px #464646;
		-o-box-shadow: 0px 1px 0px #ecf0f1 inset, 1px 1px 1px #464646;}

	input[type="submit"]:hover {
		background: #16a085;
		color: #fff;}	

	.start > form {
		/*outline: 1px solid lime;*/
	}
		.start > form:after, #feedback_box form:after {content: ""; display: block; clear: both;}

	.inputs {
		/*outline: 1px solid tomato;*/
		float: left;
		width: 30%;
	}
		.user_phone, .submit {
			width: 20%;
		}

		.user_phone input {width: 125px;}

	/*.start input[type="text"], .start_bot input[type="text"] {margin-right: 80px;}*/

	.user_form input {background: url(../images/palitra.png) no-repeat 2px 5px; background-color: #ddd;}
	.user_form input:focus {background: url(../images/palitra.png) no-repeat 2px -27px; background-color: #fff; }

	.user_mail input {background: url(../images/palitra.png) no-repeat 2px -66px; background-color: #ddd;}
	.user_mail input:focus {background: url(../images/palitra.png) no-repeat 2px -98px; background-color: #fff;}

	.user_phone input{background: url(../images/palitra.png) no-repeat 2px -135px; background-color: #ddd;}
	.user_phone input:focus {background: url(../images/palitra.png) no-repeat 2px -167px; background-color: #fff;}

										/*СЕКЦИЯ №2*/

.white {background: #fff;}
.cream {background: #f4f0d3;}
.gray {background: #e6e6e6;}
	
	.white h1, .white span {color: #8781bd;}
	.blue h1, .blue span {color: #0072bc;}
	.cream h1, .cream span {color: #4fba6f;}
	.gray h1, .gray span {color: #e74c3c;}
	.white li {background: url(../images/list_item.png) no-repeat 0 -200px;}
	.blue li {background: url(../images/list_item.png) no-repeat 0 0;}
	.cream li {background: url(../images/list_item.png) no-repeat 0 -400px;}
	.gray li {background: url(../images/list_item.png) no-repeat 0 -600px;}
	.cbp-so-side span {font-weight: 700;}

.cream article:after {
	content: "";
	position: absolute; top: -5px; left: 50%; z-index: 50;
	margin-left: -35px;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-top: 35px solid #fff;
}
.blue article:after {
	content: "";
	position: absolute; top: -5px; left: 50%; z-index: 50;
	margin-left: -35px;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-top: 35px solid #f4f0d3;
}
.gray article:after {
	content: "";
	position: absolute; top: -5px; left: 50%; z-index: 50;
	margin-left: -35px;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-top: 35px solid #fff;
}

.cbp-so-scroller {
	overflow: hidden;
}

.cbp-so-section {
	border: none;
}

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
	content: " ";
	display: table;
}

.cbp-so-section:after {
	clear: both;
}

/* Text styling */
.cbp-so-section h1 {
	font-size: 2.5em;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
}

.cbp-so-section li {
	/*outline: 1px solid tomato;*/
	margin: 20px 0; padding: 2px 0 2px 50px;
	font-size:  1.4em;
}

/* Sides */
.cbp-so-side {
	/*outline: 1px solid tomato;*/
	position: relative;
	padding: 50px 0;
	width: 70%;
	margin: auto;
	overflow: hidden;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
	content: " ";
	display: table;
}

.cbp-so-side:after {
	clear: both;
}

.cbp-so-side-right {
	text-align: left;
}

.cbp-so-side-left {
	text-align: left;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
	opacity: 0;
}

.cbp-so-init .cbp-so-side-left {
	-webkit-transform: translateX(-480px);
	-moz-transform: translateX(-480px);
	transform: translateX(-480px);
}

.cbp-so-init .cbp-so-side-right {
	-webkit-transform: translateX(480px);
	-moz-transform: translateX(480px);
	transform: translateX(480px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}

										/*Портфолио*/

.content h1 {background: #34495e; padding: 5px 0;}

.example {
	/*outline: 1px solid gold;*/
	float: left;
	width: 50%;
	overflow: hidden;
	position: relative;
	color: #eee;
}

	.film, .bot, .top, a.more {
		transition: all .3s linear;
		-webkit-transition: all .3s linear;
		-moz-transition: all .3s linear;
		-o-transition: all .3s linear;
	}

	.example img {width: 100%; height: auto;}

	.film {
		opacity: .7;
		width: 100%; height: 100%;
		position: absolute; top: 0; left: 0;
		background: #000;}

		.example:hover .film {opacity: 0;}

	.top {
		opacity: 0;
		width: 100%;
		position: absolute; top: 0; left: 0;
		font-size: 2em;
		text-align: center;
		padding: 5px 0;
	}

	.example:hover .top, .example:hover .bot {opacity: 1;}

	.bot {
		opacity: 0;
		width: 100%;
		position: absolute; bottom: 0; left: 0;
		padding: 10px 0;
		text-align: center;
	}

	.name {font-size: 1.5em;}

	a.more {
		display: block;
		padding: 3px 0; margin: 5px auto 0;
		width: 150px;
		background: #1abc9c;
		font-size: 1em;
		text-align: center;
		color: #eee;
		border-radius: 3px;
		box-shadow: 0px 1px 0px #ecf0f1 inset, 1px 1px 1px #464646;
		-moz-box-shadow: 0px 1px 0px #ecf0f1 inset, 1px 1px 1px #464646;
		-webkit-box-shadow: 0px 1px 0px #ecf0f1 inset, 1px 1px 1px #464646;
		-o-box-shadow: 0px 1px 0px #ecf0f1 inset, 1px 1px 1px #464646;
	}	
		.more:hover {
			background: #16a085;
			text-decoration: none;
			color: #fff;
		}

	.is .top, .is .bot {background: #3498db;}

	.sc .top, .sc .bot {background: #e67e22;}

										/*Отзывы*/

.respect_box {
	background: #2c3e50;
	position: relative;
	padding: 0 0 15px 0;
}
	.respect_box:after {
			content: "";
			position: absolute; bottom: -35px; left: 50%;
			margin-left: -35px;
			border-left: 35px solid transparent;
	    	border-right: 35px solid transparent;
	    	border-top: 35px solid #2C3E50;
		}

	.slide_box {width: 1000px; margin: 0 auto; /*outline: 1px solid red;*/}
	.slide_box:after {content: ""; display: block; clear: both;}

	.smile {
		width: 25%;
		float: left;}

		.smile img {margin: 50px auto 0;}

	.respect {
		/*outline: 1px solid lime;*/
		width: 65%;
		float: left;
		color: #eee;}

	.author, .post {font-size: 1.5em; margin: 5px 0;}

	.bullet {
		background: #2c3e50;	
		text-align: center;	
		margin-bottom: 15px;
		position: relative;
	}	
		.bullet > span {
			display: inline-block;
			width: 25px; height: 25px;
			background: #3498db;
			cursor: pointer;
			margin: 0 15px;
		}

		.bullet > span.active {background: #e67e22;}

										/*старт бот*/

.start_bot h1 {background: none; color: #464646;}

.start_bot {
	position: relative;
	padding: 75px 5%;
}
	.start_bot input[type="text"] {
		border: 1px solid #aaa;
	}

										/*футер*/

footer {
	position: relative;
}
	footer:before {
		content: "";
		position: absolute; top: -35px; left: 50%;
		margin-left: -35px;
		border-left: 35px solid transparent;
    	border-right: 35px solid transparent;
    	border-bottom: 35px solid #464646;
	}

.navi_bot {
	background: #464646;
	padding: 0 5% 10px;
}
	.navi_bot:after {content: ""; display: block; clear: both;}

	.navi_bot li {float: left; margin: 10px 3% 0 0;}

	.navi_bot a {
		color: #b7b7b7;
	}

.map {
	width: 100%; height: 450px;
	position: relative;
}

.info_box {
	position: absolute; top: 0; left: 0;
	width: 90%; 
	padding: 20px 5%;
	background: #454545;
	background: rgba(70,70,70, .5);
}

	.info_bot {
		/*outline: 1px solid red;*/
		float: left;
		width: 50%;
		color: #eee;
	}
		.info_bot li {
			/*outline: 1px solid blue;*/
			width: 43%;
			float: left;
			font-size: 1.1em;
			height: 35px;
			padding-left: 40px; margin-bottom: 5px;
		}

	.feed_bot {
		/*outline: 1px solid green;*/
		float: right;
		color: #eee;
		width: 50%;
		text-align: center;
	}
		.feed_bot form > div {font-size: 1.3em;}

		.feed_bot form input {display: inline-block; margin: 10px 0; }

		.feed_bot input[type="text"] {
			width: 125px;
			background: url(../images/palitra.png) no-repeat 0px -334px;	
			background-color: #ddd;}

			.feed_bot input[type="text"]:hover {
				background-color: #eee;}

			.feed_bot input[type="text"]:focus {
				background: url(../images/palitra.png) no-repeat 0px -363px;
				background-color: #fff;}
										/*suncode*/

.suncode {
	background: #464646;
	color: #b7b7b7;
	text-align: center;
	line-height: 2em;
}
	.suncode a {color: #b7b7b7;}

										/*модальное окно*/

#lean_overlay {							
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    display: none;
	background: url(../images/body_bg.png) repeat;}

#feedback_box {
	display: none;
	height: auto; width: 440px;
	margin-top: -150px;
	background: #34495e;
	padding: 0 0 10px 0;
	box-shadow: #464646 1px 1px 1px;
	-moz-box-shadow: #464646 1px 1px 1px;
	-webkit-box-shadow: #464646 1px 1px 1px;
	-o-box-shadow: #464646 1px 1px 1px;
}
	.close_box {
		/*outline: 1px solid lime;*/
		width: 26px; height: 26px; 
		position: absolute; right: 5px; top: 12px; 
		cursor: pointer;
		background: url(../images/close.png) no-repeat 0 0;
	}
		.close_box:hover {
			background: url(../images/close.png) no-repeat 0 -29px;
		}

	#feedback_box h2 {
		background: #2c3e50;
		padding: 5px 0;
		position: relative;
	}

	#feedback_box p {
		color: #b7b7b7;
		text-align: center;
	}

	#feedback_box .inputs {
		width: 100%;
		margin: 5px 0;
	}

	#feedback_box .success, #feedback_box .error {
		width: 125px;
		margin: 10px auto;
		text-align: center;
	}


										/*страница услуг*/

 	.choose {
 		width: 60%;
 		margin: 50px auto;
 		position: relative;
 		height: 50px;
 		background: #464646;
 		/*box-shadow: #464646 1px 1px 1px;
 		-webkit-box-shadow: #464646 1px 1px 1px;
 		-moz-box-shadow: #464646 1px 1px 1px;
 		-o-box-shadow: #464646 1px 1px 1px;*/
 	}
 		.choose:after {
 			content: "";
			display: block;
			position: absolute; top: 0; left: -45px; 
			border-top: 25px solid transparent;
    		border-right: 45px solid #464646;
    		border-bottom: 25px solid transparent;
 		}
 		.choose:before {
 			content: "";
			display: block;
			position: absolute; top: 0; right: -45px; 
			border-top: 25px solid transparent;
    		border-left: 45px solid #464646;
    		border-bottom: 25px solid transparent;
 		}	
 	.choose a {
 		/*outline: 1px solid red;*/
 		float: left;
 		width: 40%;
 		padding-left: 10%;
 		display: block;
 		line-height: 50px;
 		font-size: 1.2em;
 		font-weight: 300;
 		color: #eee;
 		transition: .3s ease;
 		-webkit-transition: .3s ease;
 		-moz-transition: .3s ease;
 		-o-transition: .3s ease;
 	}
 		.choose a:hover {text-decoration: none;}

 	.choose .left {
 		background: url(../images/icons_pack.png) no-repeat 15px -60px;
 		/*border-radius: 5px 0 0 5px;*/
 		/*border: 1px solid #95a5a6;*/

 	}

 	.choose .right {
 		background: url(../images/icons_pack.png) no-repeat 15px 0px;
 		/*border-radius: 0 5px 5px 0;*/
 		/*border: 1px solid #95a5a6;*/
 	}

 	.choose .current {
 		background-color: #e74c3c;
 		color: #fff;
 		text-transform: uppercase;
 		font-size: 1.4em;
 	} 

.tabs {
	/*outline: 1px solid red;*/
	width: 75%;
	margin: auto;
	position: relative;
	overflow: hidden;
 }
 	.menu_tabs {
 		/*outline: 1px solid tomato;*/
 	}
	
	.menu_tabs .tab {
		/*outline: 1px solid red;*/
		float:left;
		position: relative;
		margin: 0px .5% 0 .5%; padding: 5px 50px;
		color: #464646;
		text-align: center;
		cursor: pointer;
		position: relative;
		background-color: #ecf0f1;
		border-radius: 3px 3px 0 0;
		border: 1px solid #95a5a6;
		border-bottom: 1px solid transparent;
		/*transition: .3s ease background;
		-webkit-transition: .3s ease background;
		-moz-transition: .3s ease background;
		-o-transition: .3s ease background;*/
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
	}

	.menu_tabs .current {
		text-transform: uppercase;
		color: #fff;
		border: 1px solid #34495E;
		background-color: #34495E;
		}
		.menu_tabs .current:after {
			content: "";
			position: absolute; bottom: -15px; left: 50%;
			margin-left: -15px;
			border-left: 15px solid transparent;
	    	border-right: 15px solid transparent;
	    	border-top: 15px solid #34495E;		
	    	transition: .3s ease;
		}
	

.pagebox {
	 display: none; /*обязательный параметр*/
	 padding: 25px;
	 min-height: 300px;
	 border-radius: 3px;
	/* background: url(../images/cart_bg.png) no-repeat;*/
	 background-position: center center;
	 background-size: 25%;
	 background-color: #fff; 
	 border: 1px solid #95a5a6;
}
.pagebox.visible {
	 display: block; /*обязательный параметр*/
}

.helpos {
	width: 65%;
	margin: auto; padding: 25px 0;
	background: #464646;
	overflow: hidden;
	border-radius: 0 0 3px 3px;
}
	.helpos li {
		float: left;
		width: 33.3%;
		text-align: center;
		font-size: 1.2em;
		color: #b7b7b7;
	}

	.helpos span {font-size: 1.4em; color: #eee;}


.serv_start {margin: 70px 0 70px 0;}

	.serv_start:after {
		content: "";
		position: absolute; top: -35px; left: 50%;
		margin-left: -35px;
		border-left: 35px solid transparent;
    	border-right: 35px solid transparent;
    	border-bottom: 35px solid #34495E;
	}

#nottr:before {
	content: "";
	display: none;
}


										/*страница о нас*/

.choose h3 {
	color: #eee;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
}

.about_us {
	width: 75%;
	margin: 50px auto; padding: 25px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #95a5a6; 
}

										/*страница портфолио*/

.pholio_box {
	/*outline: 1px solid green;*/
	position: relative;
}
	.pholio_box:after {
		content: "";
		display: block;
		clear: both;
	}
	.pholio_box .work {
		/*outline: 1px solid red;*/
		float: left;
		width: 25%;
		margin: 10px 0; 
	}

	.work .name {
		padding: 3px 0 3px 25px; 
		text-align: center;
	}

	.work .preview {
		padding: 5px;
		background: #fff;
		border-radius: 3px;
		border: 1px solid #95a5a6;
		position: relative;
	}
		
		.preview > a {
			display: block;
			position: absolute; left: 50%; top: 50%;
			margin-left: -70px; margin-top: -70px;
			width: 140px; height: 140px;
			border-radius: 50%;
			opacity: 0;
			cursor: pointer;
			background: url(../images/more.png) no-repeat center center #34495E;
		}
			.preview:hover > a {opacity: 1;}

	.work .preview > img {
		width: 100%; height: 300px;
		display: block;
		overflow: hidden;
	}
